<h1><%= @post.title %></h1>

<p>Post Content: <br>
    <%= @post.content %></p>

<p>Post Categories:<br>
    <%= @post.categories.each do |cat| %>
    <%= cat.name %>, 
    <% end %></p>

<p>Users who have commented on this post:<br>
  <%= @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %>, 
  <% end %></p>

<p>Comments on this post:<br>
    <%= @post.comments.each do |c| %>
    <%= c.user.username %> says: <em><%= c.content %></em><br>
    <% end %></p>

<p>Leave a comment:
    <%= form_for @post.comments.build do |f| %>
        <%= f.label "Content" %><br>
        <%= f.text_area :content %><br><br>

        <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Choose a User' %>
        or create a new User 
        <%= f.fields_for :user, @post.comments.last.build_user do |user_fields| %>
            <%= user_fields.text_field :username %>
        <% end %><br><br>
        
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit %>
    <% end %></p>