<%= @post.title %>
<%= @post.content %>
<br>
<% @post.categories.each do |category| %>
 <li><%= link_to category.name, category_path %></li>
<% end %>

<h3>Comments on this post</h3>
<% @post.comments.each do |comment| %>
 <li><%= comment.user.username %> says: <%= comment.content %></li>
<% end %>
<br>

<h3>Users who have commented on this post</h3>
<% @users = @post.comments.map {|comment| comment.user} %>
<% @users.uniq.each do |user| %>
 <li> <%= link_to user.username, user_path(user) %></li>
<% end %>
<br><br>

<h3>Care to Comment?</h3>
<%= form_for @post.comments.build do |f|  %>
<%= f.label :content, "Comment" %><br>
<%= f.text_area :content %>
<%= f.hidden_field :post_id, value: @post.id %>
<br><br>
<h4>Select an existing user</h4>
<%= f.collection_select :user_id, User.all, :id, :username, :include_blank => true %>
<br><br>
<h4>Or, create a new user</h4>
<%= f.fields_for :user, User.new do |users_fields| %>
  <p>Name: </p>
  <%= users_fields.text_field :username %>
  <p>Email: </p>
  <%= users_fields.text_field :email %>
  <% end %>
  <br><br>
  <%= f.submit %>

<% end %>
