<h2>Title: 
<%=link_to @post.title, post_path(@post)%></h2>
Content: <%=@post.content%> <br>
Categories: <%@post.categories.each do |c| %>
<%=c.name%>
<%end%><br>
Comments: <%@post.comments.each do |c| %>
<%=c.user.username%> says: <%=c.content%>
<%end%><br>

Users who commented: <%@post.users.distinct.map do |u|%>
<%=link_to u.username, user_path(u)%>
<%end%>
<br>
 
<%=form_for @post.comments.build do |f| %>
<%=f.hidden_field :post_id, value: @post.id %>
 Select a User:
<%=f.collection_select :user_id, User.all, :id, :username %>
<%=f.fields_for :user, User.new do |username_fields| %>
<%=username_fields.text_field :username %>
<%end%>
<br>

<%=f.label "Content" %>

<%=f.text_field :content%>
<%=f.submit%>
<%end%>